## Background

### What is a database?

#### What is a relational database?

 A relational database is a database that organizes information into one or more tables. 

#### What is a table? 

A table is a collection of data organized into rows and columns. Tables are sometimes referred to as relations.


### What is a clause?

Clauses perform specific tasks in SQL. By convention, clauses are written in capital letters. Clauses can also be referred to as commands.

### What is a schema?

## SQL


### What is SQL? 


### Building a Database

The structure of SQL statements vary. The number of lines used do not matter. A statement can be written all on one line, or split up across multiple lines if it makes it easier to read. In this course, you will become familiar with the structure of common statements.

``` SQL
CREATE TABLE table_name (
    column_1 data_type, 
    column_2 data_type, 
    column_3 data_type
  );
```

### Inserting

`INSERT INTO` is a clause that adds the specified row or rows.

``` SQL
INSERT INTO table (id, name, age) VALUES (1, 'Lesley Cordero', 25);
```

### Selecting

``` SQL
SELECT * FROM celebs;
```
`SELECT` statements are used to fetch data from a database. `SELECT` is a clause that indicates that the statement is a query. You will use `SELECT` every time you query data from a database. `SELECT` statements always return a new table called the result set. We can also rename the columns we want to show with `AS`.

`*` is a special wildcard character that we have been using. It allows you to select every column in a table without having to name each one individually. Here, the result set contains every column in the celebs table.

### Updating

The `UPDATE` statement edits a row in the table. You can use the UPDATE statement when you want to change existing records. `SET` is a clause that indicates the column to edit. WHERE is a clause that indicates which row(s) to update with the new column value.

The `ALTER TABLE` statement added a new column to the table. You can use this command when you want to add columns to a table. `ADD COLUMN` is a clause that lets you add a new column to a table. 

### Deleting

The `DELETE` FROM statement deletes one or more rows from a table. You can use the statement when you want to delete existing records.

### Null

`NULL` is a special value in SQL that represents missing or unknown data. Here, the rows that existed before the column was added have NULL values for twitter_handle

### Aggregations

Aggregations are used to convert many rows into a single row. Almost all aggregations come with the `GROUP BY` statement, which converts the table otherwise returned by the query into groups of tables. Each group corresponds to a unique value (or group of values) of columns which we specify in the GROUP BY statement.

### Subqueries 

Subqueries are regular SQL queries that are embedded inside larger queries. There are 3 different types of subqueries, based on what they return -


#### 2D Table 

#### 1D Array

#### Single Values

## Relationships

### One to One

* A row in a table has a relationship with another row in another table. 
* This relationship works both ways between the two tables. Each row can have a connection only with one other row from another table. 

### One to Many

* A row in one table can have a connection with multiple rows in another table
* In reverse, multiple rows in a table can be connected to the same row in another table

### Foriegn Keys

Foreign Keys are a fundamental component of SQL that allows us to reference one table from another. Foreign Keys are stored as an additional column and is usually entered in the child table and will reference the parent table.

### Constraints

``` SQL
CREATE TABLE Reserves
    ( sname CHAR(10),
    bid INTEGER,
    day DATE,
    PRIMARY KEY(bid, day),
    CONSTRAINT noInterlakeRes
    CHECK (`Interlake` <> 
        (SELECT B.bname
        FROM Boats B
        WHERE B.bid = bid))))
```

can be named

### Constraints Over Multiple Relations

``` SQL
CREATE TABLE Sailors
    ( sid INTEGER,
    sname CHAR(10),
    rating INTEGER,
    age REAL,
    PRIMARY KEY (sid),
    CHECK
    ( (SELECT COUNT (S.sid) FROM Sailors S)
    + (SELECT COUNT (B.bid) FROM Boats B) < 100 )
```

### Assertions

``` SQL
CREATE ASSERTION smallClub
CHECK
( (SELECT COUNT (S.sid) FROM Sailors S)
+ (SELECT COUNT (B.bid) FROM Boats B) < 100)
```

#### Enforcing Total Participation

``` SQL
CREATE ASSERTION BusySailors
CHECK (
    NOT EXISTS (
        SELECT sid FROM Sailors
        WHERE sid NOT IN (
            SELECT sid FROM Reserves)
       )
)
```

### Triggers

A procedure that starts automatically when a specified change occurs, such as INSERT, UPDATE, DELETE.

Three Parts:
    1. Event
    2. Condition (Optional) 
    3. Action (Trigger Procedure/Function)

#### Row Level Triggers

Invoked once for each row affected by the triggering statement.

#### Statement Level Trigger

Invoked only once regardless of the number of rows affected.

Triggers may fire before or after a change occurs. Could also be asynchronous or deferred. 

If there exists a condition, it needs to be true for the trigger to fire.

## Privileges

GRANT and REVOKE

Authorization Graph -- nodes are users, arcs are privileges

## Transactions

series or list of actions. they can consist of reads or writes of DB objects. 

RT(O) is for reading, WT(O) is for writing. 

Transactions must specificy whether the final action is a commit or abort.

## Schedules

list of actions from a set of transactions. it represents an actual or potential execution sequence.

### Relational Algebra

Selection (σ)

Natural join (⋈)

Projection (Π)

- Example: Π(Age, Weight) Person 

Rename (ρ)

## SQLAlchemy

Engine: common interface to database from SQLAlchemy

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('')
connection = engine.connect()

### Connection strings

database driver + filename

In [ ]:
engine.table_names() # returns list of tables

In [ ]:
### Reflection

In [ ]:
from sqlalchemy import MetaData, Table

metadata = MetaData() # stores DB info 

census = Table('census', metadata, autoload=True, autoloud_with=engine)

repr(census) # tells us columns and types